/**
## General styles
This stuff can be ported from experiment to experiment.*/

/** We want the page to sit flush inside the browser window - that means no margins or padding. Also, use a nice-looking serif font. */
body {
	padding: 0;
	margin: 0;
	font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
	font-size: 16px;
	line-height: 20px;
}

td {
  padding-top: 10px;
  padding-bottom: 40px;
}

td.slider_labels{
 padding-bottom: 5px; 
 font-size: 18px;
}

#goal_text {
  width: 600px;
  font-size: 22px;
}

#slider_table {
  width: 80%;
}

.slider_container {
  height: 70px;
  width: 500px;
  padding-right: 5px;
  text-align: left;
}

.slider_labels {
  width: 400;
}

.left_label {
  display: inline;
  float: left;
}

.right_label {
  display: inline;
  float: right;
}

#slider_table td {
  text-align: center;
  font-size: 20px
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

/** We manage display using "slides". A slide is a <code>div</code> that takes up the entire page. Only one slide should be visible at a time. Navigation between slides is most sensibly accomplished using using buttons, rather than keyboard events. */
.slide {
	width: 95%;
	height: 95%;
	display: none;
	position: absolute;
	margin: 0;
	margin-left: 0.5%;
	padding: 1% 2% 1% 2%;
}

input, select, button {font-family: Georgia, serif; font-size: 14px;}

button {
	background: url(images/button-gradient.png);
	border: 1px solid #999;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	margin: 10px;
	padding-left: 5px;
	padding-right: 5px;
	height: 29px;
	min-width: 70px;
}

button2 {
	background: url(images/button-gradient.png);
	border: 1px solid #999;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	margin: 40px;
	padding-left: 5px;
	padding-right: 5px;
	height: 29px;
	min-width: 70px;
}
button:active {
	border-left: 1px solid #c9c9c9;
	border-top: 1px solid #c9c9c9;
	background: none;
	background-color: #c9c9c9;
}

button[disabled] {
	background: url(zen-button.png);
	border: 1px solid #999;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	cursor: not-allowed;
}



/**
## Experiment-specific styles
This stuff will vary by experiment.
*/

.unchosen {
    border: 5px solid white;
}

.unchosen:hover {
    border: 5px dashed green;
}

.withoutHover {
    border: 5px solid white;
}

.chosen {
    border: 5px solid red;
}

.chosenCorrect {
    border: 5px solid blue;
}


.highlighted {
    border: 5px dashed green;
}


.notChoices {
	border: 0px solid red;
}


#training_examples {
  text-align: center; 
}

#between_training_html {
  text-align: center; 
}


#logo-text {
  font-weight: bold;
}

#instructions {
  text-align: center;
}


.block-text {
  width: 500px;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 1em;
}

#legal {
  margin: 0 auto;
  margin-top: 1.5em;
  font-size: 0.8em;
}

#objImage{
    position: absolute;
    z-index: 10;
}


#objProperty{
    position: relative;
    left: 0;
    top: 0;
    z-index: 0;
}

.objTable {
    position: relative;
    display: inline-block;
}

#objImage{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

#objPatch{
    position: absolute;
    border: 3px solid black;
    left: 0;
    top: 0;
    z-index: 10;
}

#objProperty1{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
}

#objProperty2{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 30;
}

#objHandPropertsdsy{
    position: relative;
   	margin-top:200;
  	margin-bottom:auto;
  	margin-left:auto;
  	margin-right:auto;
    z-index: 30;
}

#objHandProperty{
    position:relative; 
    width:20%;
    height:20%;
    text-align:center; 
    vertical-align:middle;
    z-index: 30;
    margin:85px auto 0;
}


#objProperty3{
    position: relative;
    left: 0;
    top: 0;
    z-index: 40;
}
